<h1>Accommodations</h1>

<div>
	<h3>We've Picked a Hotel</h3>

	<p>Hampton Inn Long Island in Islandia</p>
	<img src="_/img/hampton_inn.jpg" />
	<ul>
		<li>Address: 1600 Veterans Memorial Hwy, Islandia, NY 11749</li>
		<li>Phone: (631) 234-0400</li>
		<li>Website: <a href="http://hamptoninn3.hilton.com/en/hotels/new-york/hampton-inn-long-island-islandia-ISPNYHX/index.html">Hampton Inn Islandia</a></li>
	</ul>
</div>

<div>
	<h2>Important Info</h2>
	<p>The Bride and Groom WILL be staying at this hotel.</p>
	<h3>Price</h3>
	<p>$139.00</p>
	<h3>Transportation</h3>
	<p>There will be a free shuttle provided to escort our guests from the hotel to the venue before and after the wedding. Times to be determined.</p>
	<h3>Last Day to Book</h3>
	<p>The last day to book a room using our Group Code and deal will be September 8th, 2016.</p>
</div>

<div>
	<h2>How to Reserve</h2>
	<h3>Phone</h3>
	<p>Your guest can contact the hotel directly at 631-234-0400 or Hilton Reservations at 1-800-HILTONS. Upon reserving please reference the Group Name or Code.</p>
	<h3>Website</h3>
	<p>Reserve online at <a href="//www.longislandislandia.hamptoninn.com">www.longislandislandia.hamptoninn.com</a>. After selecting the arrive & departure date they can select the special rate codes tab to enter the group code.</p>
	<h3>Reservation Info</h3>
	<p>Group Name: DESROCHES-BISHOP WEDDING</p>
	<p>Group Code: DBW</p>
</div>
