<h1>Photo Gallery</h1>
<div class="wedding-gallery" itemscope itemtype="http://schema.org/ImageGallery">
	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7930.2015-03-21_221927.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7930.2015-03-21_221927.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7931.2015-03-21_221934.jpg" itemprop="contentUrl" data-size="960x638">
			<img src="_/img/IMG_7931.2015-03-21_221934.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7933.2015-03-21_221948.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7933.2015-03-21_221948.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7934.2015-03-21_222005.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7934.2015-03-21_222005.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7935.2015-03-21_222020.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7935.2015-03-21_222020.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7936.2015-03-21_222055.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7936.2015-03-21_222055.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7939.2015-03-21_222140.jpg" itemprop="contentUrl" data-size="640x640">
			<img src="_/img/IMG_7939.2015-03-21_222140.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7941.2015-03-21_222152.jpg" itemprop="contentUrl" data-size="640x960">
			<img src="_/img/IMG_7941.2015-03-21_222152.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7947.2015-03-21_222302.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7947.2015-03-21_222302.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7948.2015-03-21_222314.jpg" itemprop="contentUrl" data-size="720x720">
			<img src="_/img/IMG_7948.2015-03-21_222314.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7949.2015-03-21_222320.jpg" itemprop="contentUrl" data-size="480x640">
			<img src="_/img/IMG_7949.2015-03-21_222320.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7950.2015-03-21_222342.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7950.2015-03-21_222342.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7952.2015-03-21_222417.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7952.2015-03-21_222417.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7953.2015-03-21_222422.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7953.2015-03-21_222422.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7956.2015-03-21_222517.jpg" itemprop="contentUrl" data-size="927x618">
			<img src="_/img/IMG_7956.2015-03-21_222517.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7959.2015-03-21_222543.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7959.2015-03-21_222543.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7961.2015-03-21_222557.jpg" itemprop="contentUrl" data-size="640x480">
			<img src="_/img/IMG_7961.2015-03-21_222557.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7962.2015-03-21_222603.jpg" itemprop="contentUrl" data-size="538x576">
			<img src="_/img/IMG_7962.2015-03-21_222603.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7963.2015-03-21_222612.jpg" itemprop="contentUrl" data-size="2048x1536">
			<img src="_/img/IMG_7963.2015-03-21_222612.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7964.2015-03-21_222627.jpg" itemprop="contentUrl" data-size="2048x1536">
			<img src="_/img/IMG_7964.2015-03-21_222627.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7965.2015-03-21_222634.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7965.2015-03-21_222634.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7968.2015-03-21_222714.jpg" itemprop="contentUrl" data-size="453x604">
			<img src="_/img/IMG_7968.2015-03-21_222714.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7969.2015-03-21_222728.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7969.2015-03-21_222728.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7971.2015-03-21_222756.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7971.2015-03-21_222756.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7972.2015-03-21_222811.jpg" itemprop="contentUrl" data-size="2048x1366">
			<img src="_/img/IMG_7972.2015-03-21_222811.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7973.2015-03-21_222829.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7973.2015-03-21_222829.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7974.2015-03-21_222859.jpg" itemprop="contentUrl" data-size="720x960">
			<img src="_/img/IMG_7974.2015-03-21_222859.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7975.2015-03-21_222909.jpg" itemprop="contentUrl" data-size="960x960">
			<img src="_/img/IMG_7975.2015-03-21_222909.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7976.2015-03-21_222913.jpg" itemprop="contentUrl" data-size="453x604">
			<img src="_/img/IMG_7976.2015-03-21_222913.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7977.2015-03-21_222929.jpg" itemprop="contentUrl" data-size="720x480">
			<img src="_/img/IMG_7977.2015-03-21_222929.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<a href="_/img/IMG_7980.2015-03-21_223021.jpg" itemprop="contentUrl" data-size="604x453">
			<img src="_/img/IMG_7980.2015-03-21_223021.jpg" itemprop="thumbnail" alt="Image description" />
		</a>
		<!-- <figcaption itemprop="caption description">Image caption  1</figcaption> -->
	</figure>


</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>
</div>