<h1>Where We're Registered</h1>
<div>
	<h2>We Booked Our Honeymoon!</h2>
	<p><a href="http://www.sandals.com/main/antigua/an-home/">Sandals Antigua</a></p>
	<img src="_/img/sandals.jpg" alt="" style="max-width: 100%" />
	<h3>Donate to our <a href="http://www.honeyfund.com/wedding/BishrochesWedding" target="_blank"><img src="_/img/honeyfund-logo.png" style="height:50px;" alt=""></a>!</h3>
	<p>If you'd like to contribute to our honeymoon to ensure we have the greatest most relaxing after wedding trip there ever was then please <a href="http://www.honeyfund.com/wedding/BishrochesWedding" target="_blank">click here</a>.</p>
</div>
<div>
	<h3>Remaining Registry</h3>
	<div>
		<p>We still have things available on our registry at <a href="//smile.amazon.com/registry/wedding/2ONUDP70KSZQ9" target="_blank">Amazon</a>.</p>
		<a href="//smile.amazon.com/registry/wedding/2ONUDP70KSZQ9" target="_blank"><img src="_/img/amazon_logo.png" alt=""></a>
	</div>
	<div>
		<p>We still have things available on our registry at <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541890775&pwsurl=" target="_blank">Bed Bath & Beyond</a>.</p>
		<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541890775&pwsurl=" target="_blank"><img src="_/img/BedBathAndBeyondLogo.jpg" alt=""></a>
	</div>
</div>
